<a href="https://colab.research.google.com/github/alineaprelini/ETL/blob/main/Transforma%C3%A7%C3%A3o_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [28]:
import pandas as pd

**FONTE:** https://www.kaggle.com/datasets/ratikkakkar/electric-vehicle-population-data?select=Electric_Vehicle_Population_Data.csv

In [63]:
df = pd.read_csv('CarRentalData.csv')

In [30]:
df.head(10)

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year
0,ELECTRIC,5.00,13,12,Seattle,US,47.449107,-122.308841,WA,12847615,135,Tesla,Model X,suv,2019
1,ELECTRIC,5.00,2,1,Tijeras,US,35.111060,-106.276551,NM,15621242,190,Tesla,Model X,suv,2018
2,HYBRID,4.92,28,24,Albuquerque,US,35.127163,-106.566681,NM,10199256,35,Toyota,Prius,car,2012
3,GASOLINE,5.00,21,20,Albuquerque,US,35.149726,-106.711425,NM,9365496,75,Ford,Mustang,car,2018
4,GASOLINE,5.00,3,1,Albuquerque,US,35.208659,-106.601008,NM,3553565,47,Chrysler,Sebring,car,2010
5,GASOLINE,5.00,13,12,Albuquerque,US,35.068834,-106.576111,NM,7815747,58,Mercedes-Benz,GL-Class,suv,2012
6,GASOLINE,4.42,13,12,Albuquerque,US,35.045552,-106.633815,NM,3112016,42,GMC,Yukon XL,suv,2005
7,GASOLINE,4.90,12,10,Albuquerque,US,35.186542,-106.686481,NM,9536762,117,Ford,Expedition,suv,2018
8,GASOLINE,5.00,1,1,Albuquerque,US,35.061213,-106.629406,NM,14893743,102,Ford,Focus RS,car,2016
9,GASOLINE,4.76,22,17,Albuquerque,US,35.115363,-106.556911,NM,11389136,49,Ford,EcoSport,suv,2018

In [31]:
df.columns

Index(['fuelType', 'rating', 'renterTripsTaken', 'reviewCount',
       'location.city', 'location.country', 'location.latitude',
       'location.longitude', 'location.state', 'owner.id', 'rate.daily',
       'vehicle.make', 'vehicle.model', 'vehicle.type', 'vehicle.year'],
      dtype='object')

In [32]:
#Renomear colunas

df = df.rename(columns = {
    'fuelType':'Tipo_Combustivel',
    'rating' :'Avaliacao',
    'renterTripsTaken': 'Aluguel_Viagens_realizadas',
    'reviewCount': 'Contagem_revisao',
    'location.city':'Cidade',
    'location.country': 'Pais',
    'location.latitude': 'Latitude',
    'location.longitude':'Longitude',
    'location.state':'Estado',
    'owner.id': 'ID_Proprietario',
    'owner.name': 'Nome_Proprietario',
    'rate.daily': 'Taxa_diaria',
    'vehicle.make': 'Marca_veiculo',
    'vehicle.model': 'Modelo_veiculo',
    'vehicle.year': 'Ano_veiculo',
    'vehicle.type': 'Tipo_veículo'
})

df.columns

Index(['Tipo_Combustivel', 'Avaliacao', 'Aluguel_Viagens_realizadas',
       'Contagem_revisao', 'Cidade', 'Pais', 'Latitude', 'Longitude', 'Estado',
       'ID_Proprietario', 'Taxa_diaria', 'Marca_veiculo', 'Modelo_veiculo',
       'Tipo_veículo', 'Ano_veiculo'],
      dtype='object')

In [33]:
df['Tipo_Combustivel'].unique()

array(['ELECTRIC', 'HYBRID', 'GASOLINE', nan, 'DIESEL'], dtype=object)

In [34]:
#Renomear
df['Tipo_Combustivel'] = df['Tipo_Combustivel'].str.replace('ELECTRIC', 'Eletrico').replace('HYBRID', 'Hibrido').replace('DIESEL', 'Diesel').replace('GASOLINE', 'Gasolina').fillna('Não Informado')

In [35]:
df['Tipo_Combustivel'].unique()

array(['Eletrico', 'Hibrido', 'Gasolina', 'Não Informado', 'Diesel'],
      dtype=object)

In [36]:
df['Pais'].unique()

array(['US'], dtype=object)

In [37]:
df['Pais'] = df['Pais'].str.replace('US', 'Estados Unidos')

In [38]:
df['Pais'].unique()

array(['Estados Unidos'], dtype=object)

In [39]:
df['Tipo_veículo'].unique()

array(['suv', 'car', 'truck', 'minivan', 'van'], dtype=object)

In [40]:
df['Tipo_veículo'] = df['Tipo_veículo'].str.replace('suv', 'SUV').replace('car', 'Carro').replace('truck', 'Caminhão').replace('minivan', 'Mini Van').replace('van', 'Van')

In [41]:
df['Tipo_veículo'].unique()

array(['SUV', 'Carro', 'Caminhão', 'Mini Van', 'Van'], dtype=object)

In [42]:
#Campos vazios
df.isna().sum()

Tipo_Combustivel                0
Avaliacao                     501
Aluguel_Viagens_realizadas      0
Contagem_revisao                0
Cidade                          0
Pais                            0
Latitude                        0
Longitude                       0
Estado                          0
ID_Proprietario                 0
Taxa_diaria                     0
Marca_veiculo                   0
Modelo_veiculo                  0
Tipo_veículo                    0
Ano_veiculo                     0
dtype: int64

In [43]:
df['Avaliacao'].unique()

array([5.  , 4.92, 4.42, 4.9 , 4.76, 4.95, 4.7 , 4.88, 4.5 ,  nan, 4.67,
       4.72, 4.85, 4.82, 4.8 , 4.58, 4.83, 4.94, 4.93, 4.89, 4.87, 4.96,
       4.97, 4.99, 4.84, 4.98, 4.86, 4.91, 4.73, 4.74, 4.77, 4.51, 4.75,
       4.63, 4.78, 4.81, 4.79, 4.69, 3.86, 4.66, 4.48, 4.6 , 4.71, 4.64,
       4.65, 4.44, 4.57, 4.38, 4.29, 4.56, 4.2 , 4.33, 4.  , 4.17, 4.37,
       4.41, 4.55, 3.  , 4.68, 4.61, 4.53, 4.62, 4.59, 2.  , 4.08, 3.5 ,
       4.43, 4.54, 3.67, 1.5 , 1.  , 4.25, 4.4 , 4.52, 3.56, 3.25, 4.46,
       4.36, 4.39, 4.47, 4.18])

In [44]:
df['Avaliacao'].describe()

count    5350.000000
mean        4.920325
std         0.182425
min         1.000000
25%         4.900000
50%         5.000000
75%         5.000000
max         5.000000
Name: Avaliacao, dtype: float64

In [45]:
df['Avaliacao'] = df['Avaliacao'].astype(float)

In [51]:
#Substituir NAN pela media
df['Avaliacao'] = df['Avaliacao'].fillna(df['Avaliacao'].mean())

In [52]:
df['Avaliacao'].unique()

array([5.        , 4.92      , 4.42      , 4.9       , 4.76      ,
       4.95      , 4.7       , 4.88      , 4.5       , 4.92032523,
       4.67      , 4.72      , 4.85      , 4.82      , 4.8       ,
       4.58      , 4.83      , 4.94      , 4.93      , 4.89      ,
       4.87      , 4.96      , 4.97      , 4.99      , 4.84      ,
       4.98      , 4.86      , 4.91      , 4.73      , 4.74      ,
       4.77      , 4.51      , 4.75      , 4.63      , 4.78      ,
       4.81      , 4.79      , 4.69      , 3.86      , 4.66      ,
       4.48      , 4.6       , 4.71      , 4.64      , 4.65      ,
       4.44      , 4.57      , 4.38      , 4.29      , 4.56      ,
       4.2       , 4.33      , 4.        , 4.17      , 4.37      ,
       4.41      , 4.55      , 3.        , 4.68      , 4.61      ,
       4.53      , 4.62      , 4.59      , 2.        , 4.08      ,
       3.5       , 4.43      , 4.54      , 3.67      , 1.5       ,
       1.        , 4.25      , 4.4       , 4.52      , 3.56      ,
       3.25      , 4.46      , 4.36      , 4.39      , 4.47      ,
       4.18      ])

In [53]:
#Campos vazios
df.isna().sum()

Tipo_Combustivel              0
Avaliacao                     0
Aluguel_Viagens_realizadas    0
Contagem_revisao              0
Cidade                        0
Pais                          0
Latitude                      0
Longitude                     0
Estado                        0
ID_Proprietario               0
Taxa_diaria                   0
Marca_veiculo                 0
Modelo_veiculo                0
Tipo_veículo                  0
Ano_veiculo                   0
dtype: int64

In [58]:
df['Modelo_veiculo'].unique()

array(['Model X', 'Prius', 'Mustang', 'Sebring', 'GL-Class', 'Yukon XL',
       'Expedition', 'Focus RS', 'EcoSport', 'F-150', 'Tiguan',
       'Avalon Hybrid', '3-Sep', 'CV Tradesman', 'Cherokee', 'Cayman',
       'Wrangler JK', 'Explorer', 'Rogue', 'Model S', 'Charger', 'Jetta',
       'Sonata', 'Impala', 'Accent', 'Focus', 'Sequoia', 'GLC-Class',
       'Fiesta', 'Journey', 'ES 300h', 'ATS', 'IS 350', 'fortwo',
       'Range Rover', 'Model 3', '718 Boxster', 'S-Class', '7 Series',
       'C-Class', '4 Series', 'Panamera', 'GLA-Class', 'MDX',
       'Corvette Stingray', 'A8', 'Altima', 'A7', 'RS 7', 'Grand Caravan',
       'XJ', 'Corvette', 'Camaro', 'Range Rover Sport', 'Quattroporte',
       'Q50', 'Boxster', 'Cayenne', 'EX35', 'E-Class', 'CX-5', 'Z4',
       'Range Rover Evoque', 'X4', 'QX60', '6 Series Gran Coupe', 'M4',
       'Ghibli', '5 Series', 'i8', 'AMG GT', 'Arteon', 'X6', 'SLK-Class',
       'Range Rover Velar', 'Continental GT', '718 Cayman', 'F-TYPE',
       'TTS', 'Yukon', 'Suburban', 'Corolla', 'Mirage', 'IS 200t',
       'Versa', 'Challenger', 'Q7', 'Rio', 'New Beetle', 'Silverado 1500',
       'Optima', 'Macan', 'Sorento', 'Wrangler', 'IS', 'Versa Note',
       'CLS-Class', 'Soul', 'Passat', 'Elantra', 'Grand Cherokee',
       'Cooper', 'X5', 'Compass', 'Slingshot', 'Cruze',
       'Wrangler Unlimited', '300', 'Levante', 'Genesis', 'Sentra',
       'Camry', '3 Series', 'RAV4', 'Tahoe', 'MX-5 Miata', 'HS 250h',
       'A4', 'Sienna', 'Patriot', 'CLA-Class', 'Escape', 'IS 250',
       '4 Series Gran Coupe', 'Yaris iA', 'LaCrosse', 'TSX', 'Prius v',
       '500', 'Accord', 'CT 200h', 'X1', 'Elantra GT', 'Prius c',
       'Giulia', 'Sierra 1500', 'Yaris', 'Trax', 'SL-Class', 'S5',
       'Atlas Cross Sport', '4Runner', 'Model Y', 'ES 350', 'Navigator',
       'Equinox', 'Accord Sedan', 'Ridgeline', 'Highlander', 'Metris',
       'A6', 'GS 350', 'Eclipse Cross', 'E-Tron', 'Pilot', 'Odyssey',
       'Santa Fe', 'Supra', 'CTS Coupe', 'Tacoma', 'Acadia', 'A5',
       'NX 200t', 'Impreza', 'Civic Sedan', 'Convertible', 'Mazda6',
       'Hardtop 2 Door', 'RX 350', 'HR-V', 'Civic', 'Frontier', 'S40',
       'Optima Hybrid', 'ES 330', 'Fit', 'Niro', 'Transit Wagon',
       'mustang', 'Colorado', 'Shelby AC Cobra', 'Silver Shadow',
       'Tundra', 'XE', 'Gallardo', 'CC', 'Outlander', 'CX-9', 'Fusion',
       'C-Max Hybrid', 'I8', 'XC60', '200', 'Sonic', 'Solstice', 'Tucson',
       'Regal Sportback', '1500', 'M3', 'Mazda3', 'GX 460', '2 Series',
       'Quest', 'Forte', 'Express', 'Golf GTI', 'CT6', 'Q5', 'Maxima',
       'i3', 'MX-5 Miata RF', 'IS 250 C', 'Spark', '3', 'S60', 'Stelvio',
       'Bolt EV', 'Sprinter', 'Malibu', 'Ranger', 'Golf', 'Touareg',
       'X5 M', '3 Series Gran Turismo', 'CR-V', 'Ioniq Plug-In Hybrid',
       'Camry Solara', 'G37', 'G Sedan', 'G-Class', 'Fusion Hybrid',
       '6 Series', 'Enclave', 'Camry Hybrid', '500L', 'A3', 'Armada',
       'allroad', 'Continental', 'XTS', 'Gladiator', '124 Spider',
       'V12 Vantage S', 'Atlas', 'Escalade', 'Outback', 'C-Max', 'LX 570',
       'GLE-Class', 'Silverado 2500HD', 'S4', 'RX 450h', 'Crosstrek',
       'Murano', 'Edge', 'Avenger', 'G6', '3500', 'LR4', 'Cruze Limited',
       '911', '86', 'ATS Coupe', 'TLX', 'XF', 'RDX', 'LC 500', 'TL',
       'TrailBlazer', '124 Convertible 2000', 'Flex', 'Renegade',
       'Blazer', 'Q60 Coupe', 'FJ Cruiser', 'M6', 'Pacifica', 'GLK-Class',
       'NX', 'Fusion Energi', 'Mariner', 'ILX', 'Volt', 'S6',
       'Explorer Sport Trac', 'Legacy', 'Santa Fe Sport', 'Pathfinder',
       'M-Class', 'Forester', 'Xterra', 'Terrain', 'X3', 'Escalade ESV',
       'Venza', 'Outlander Sport', 'Sedona', 'Insight', 'Mirage G4',
       'QX80', 'Q60', 'Town and Country', 'QX', 'Durango', 'Caliber',
       'Aveo', 'Expedition MAX', 'Ram 1500', 'Traverse', 'Voyager', 'ION',
       '6', 'Taurus', 'Flying Spur', '4-Series', 'Avalon', 'F-PACE', '4C',
       'GLS-Class', '7-Series', 'Discovery', '570S',
       'Continental GT Speed', 'R8', 'FR-S', 'GT-R', 'GX 470',
       'Grand Cherokee SRT', 'S90', 'CTS', 'M-Series', 'Stinger', 'Q3',
       'H2', '5-Series', 'Discovery Sport', 'MKX', 'F-Type', 'C-HR',
       'XT4', 'Corolla Hatchback', 'California', 'Huracan', 'XC90',
       'MAZDA2', 'Touareg 2', 'Sierra 3500HD', 'Impala Limited', 'HHR',
       'XV Crosstrek', 'Express Cargo', 'Cooper Countryman',
       'Tahoe Hybrid', 'XC40', '3-Series', 'MAZDA5', 'V8 Vantage', 'LX',
       'tC', '500X', 'Verano', 'xB', 'Continental Supersports',
       'Continental GTC', 'Eos', 'S2000', '370Z', '380sl', 'TT RS',
       'QX50', 'GranTurismo', 'Ghost', 'Ascent', 'RX 350L',
       'Ram 1500 Classic', 'Evora 400', 'GX', 'CL-Class', 'F430', 'Sky',
       'Dart', 'Cadenza', 'Beetle', 'NX 300', 'MKS', 'XT5', 'Matrix',
       '488 Gtb', 'Exige', 'M6 Gran Coupe', '2-Series', 'GLE-Class Coupe',
       'RX', 'V60', 'Passport', '1 Series', 'JX', 'STS', 'Telluride',
       'Savana', 'e-Golf', 'Evora', 'LS 460', 'SLC-Class', 'Rogue Sport',
       'NV200', 'Kona', 'F-450 Super Duty', 'Azera', 'Elantra Touring',
       'iM', '2', 'G35', 'Leaf', 'Clubman', 'Vibe', 'Veloster', 'MKZ',
       'TT', 'xD', 'RC 350', 'F-250 Super Duty', 'Hardtop 2dr',
       'Highlander Hybrid', 'WRX', 'SQ5', 'A8 L', 'Crosstour',
       'Genesis G70', 'Lancer', 'Commander', 'RAV4 Hybrid', 'Prius Prime',
       'Ioniq Hybrid', '488 Spider', 'Urus', '348 Spider', '488GTB', 'M5',
       'DB9', 'Q8', 'S80', 'Sportage', 'Canyon', 'Equus', 'Shelby GT350',
       'Routan', 'A5 Sportback', 'Soul EV', 'SRX', 'Corolla iM', '5',
       'Accord Hybrid', 'RS 5', 'NSX', 'X2', 'Civic Hatch', 'E-Golf',
       'GTI', 'Eclipse Spyder', 'Freestyle', 'Malibu Limited', 'Ram 3500',
       'Viper', 'G80', 'Jetta Hybrid', 'IS 300', 'Juke', 'Cube',
       'Clarity', '356 Speedster', 'CX-7', 'XK-Series', 'Shelby Cobra',
       'camry', 'Liberty', '356', 'H3', 'Transit-350 Wagon EL', 'MKC',
       'Continental Flying Spur', 'Cooper Clubman', 'RC 200t', 'I3',
       'X5 eDrive', 'X6 M', '2500', 'Encore', 'Ux', 'Transit Connect',
       'RC', 'Palisade', 'Transit-350 Wagon', 'Titan', 'Kizashi',
       'Corolla Hybrid', 'Caravan', 'Silverado 1500 Hybrid', 'Spectra',
       'RS 3', '500e', 'Rabbit', 'Transit Van', 'Navigator L',
       'Promaster Cargo Van', 'Land Cruiser', 'Rio 5-Door', 'LR2',
       'Element', 'IS 350 C', 'Dakota', 'Cooper Roadster', 'X7',
       '458 Spider', 'M35', 'XL7', 'Uplander', 'Titan XD', 'Regal',
       'RX 400h', 'Town Car', 'Van', '8-Series', 'GS 450h', '718',
       'Cooper Coupe'], dtype=object)

In [54]:
df.to_csv('Doc.csv', index = False)