<a href="https://colab.research.google.com/github/alineaprelini/ETL/blob/main/Transforma%C3%A7%C3%A3o_dos_dados.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('CarRentalData.csv')

In [3]:
df.head(10)

,fuelType,rating,renterTripsTaken,reviewCount,location.city,location.country,location.latitude,location.longitude,location.state,owner.id,rate.daily,vehicle.make,vehicle.model,vehicle.type,vehicle.year
0,ELECTRIC,5.00,13,12,Seattle,US,47.449107,-122.308841,WA,12847615,135,Tesla,Model X,suv,2019
1,ELECTRIC,5.00,2,1,Tijeras,US,35.111060,-106.276551,NM,15621242,190,Tesla,Model X,suv,2018
2,HYBRID,4.92,28,24,Albuquerque,US,35.127163,-106.566681,NM,10199256,35,Toyota,Prius,car,2012
3,GASOLINE,5.00,21,20,Albuquerque,US,35.149726,-106.711425,NM,9365496,75,Ford,Mustang,car,2018
4,GASOLINE,5.00,3,1,Albuquerque,US,35.208659,-106.601008,NM,3553565,47,Chrysler,Sebring,car,2010
5,GASOLINE,5.00,13,12,Albuquerque,US,35.068834,-106.576111,NM,7815747,58,Mercedes-Benz,GL-Class,suv,2012
6,GASOLINE,4.42,13,12,Albuquerque,US,35.045552,-106.633815,NM,3112016,42,GMC,Yukon XL,suv,2005
7,GASOLINE,4.90,12,10,Albuquerque,US,35.186542,-106.686481,NM,9536762,117,Ford,Expedition,suv,2018
8,GASOLINE,5.00,1,1,Albuquerque,US,35.061213,-106.629406,NM,14893743,102,Ford,Focus RS,car,2016
9,GASOLINE,4.76,22,17,Albuquerque,US,35.115363,-106.556911,NM,11389136,49,Ford,EcoSport,suv,2018

In [4]:
df.columns

Index(['fuelType', 'rating', 'renterTripsTaken', 'reviewCount',
       'location.city', 'location.country', 'location.latitude',
       'location.longitude', 'location.state', 'owner.id', 'rate.daily',
       'vehicle.make', 'vehicle.model', 'vehicle.type', 'vehicle.year'],
      dtype='object')

In [8]:
#Renomear colunas

df = df.rename(columns = {
    'fuelType':'Tipo_Combustivel',
    'rating' :'Avaliacao',
    'renterTripsTaken': 'Aluguel_Viagens_realizadas',
    'reviewCount': 'Contagem_revisao',
    'location.city':'Cidade',
    'location.country': 'Pais',
    'location.latitude': 'Latitude',
    'location.longitude':'Longitude',
    'location.state':'Estado',
    'owner.id': 'ID_Proprietario',
    'owner.name': 'Nome_Proprietario',
    'rate.daily': 'Taxa_diaria',
    'vehicle.make': 'Marca_veiculo',
    'vehicle.model': 'Modelo_veiculo',
    'vehicle.year': 'Ano_veiculo',
    'vehicle.type': 'Tipo_veículo'
})

df.columns

Index(['Tipo_Combustivel', 'Avaliacao', 'Aluguel_Viagens_realizadas',
       'Contagem_revisao', 'Cidade', 'Pais', 'Latitude', 'Longitude', 'Estado',
       'ID_Proprietario', 'Taxa_diaria', 'Marca_veiculo', 'Modelo_veiculo',
       'Tipo_veículo', 'Ano_veiculo'],
      dtype='object')

In [9]:
df['Tipo_Combustivel'].unique()

array(['ELECTRIC', 'HYBRID', 'GASOLINE', nan, 'DIESEL'], dtype=object)

In [16]:
#Renomear
df['Tipo_Combustivel'] = df['Tipo_Combustivel'].str.replace('ELECTRIC', 'Eletrico').replace('HYBRID', 'Hibrido').replace('DIESEL', 'Diesel').replace('GASOLINE', 'Gasolina').fillna('Não Informado')

In [17]:
df['Tipo_Combustivel'].unique()

array(['Eletrico', 'Hibrido', 'Gasolina', 'Não Informado', 'Diesel'],
      dtype=object)

In [18]:
df['Pais'].unique()

array(['US'], dtype=object)

In [20]:
df['Pais'] = df['Pais'].str.replace('US', 'Estados Unidos')

In [21]:
df['Pais'].unique()

array(['Estados Unidos'], dtype=object)

In [22]:
df['Tipo_veículo'].unique()

array(['suv', 'car', 'truck', 'minivan', 'van'], dtype=object)

In [23]:
df['Tipo_veículo'] = df['Tipo_veículo'].str.replace('suv', 'SUV').replace('car', 'Carro').replace('truck', 'Caminhão').replace('minivan', 'Mini Van').replace('van', 'Van')

In [24]:
df['Tipo_veículo'].unique()

array(['SUV', 'Carro', 'Caminhão', 'Mini Van', 'Van'], dtype=object)

In [25]:
#Campos vazios
df.isna().sum()

Tipo_Combustivel                0
Avaliacao                     501
Aluguel_Viagens_realizadas      0
Contagem_revisao                0
Cidade                          0
Pais                            0
Latitude                        0
Longitude                       0
Estado                          0
ID_Proprietario                 0
Taxa_diaria                     0
Marca_veiculo                   0
Modelo_veiculo                  0
Tipo_veículo                    0
Ano_veiculo                     0
dtype: int64

In [26]:
df['Avaliacao'].unique()

array([5.  , 4.92, 4.42, 4.9 , 4.76, 4.95, 4.7 , 4.88, 4.5 ,  nan, 4.67,
       4.72, 4.85, 4.82, 4.8 , 4.58, 4.83, 4.94, 4.93, 4.89, 4.87, 4.96,
       4.97, 4.99, 4.84, 4.98, 4.86, 4.91, 4.73, 4.74, 4.77, 4.51, 4.75,
       4.63, 4.78, 4.81, 4.79, 4.69, 3.86, 4.66, 4.48, 4.6 , 4.71, 4.64,
       4.65, 4.44, 4.57, 4.38, 4.29, 4.56, 4.2 , 4.33, 4.  , 4.17, 4.37,
       4.41, 4.55, 3.  , 4.68, 4.61, 4.53, 4.62, 4.59, 2.  , 4.08, 3.5 ,
       4.43, 4.54, 3.67, 1.5 , 1.  , 4.25, 4.4 , 4.52, 3.56, 3.25, 4.46,
       4.36, 4.39, 4.47, 4.18])

In [27]:
df['Avaliacao'].describe()

count    5350.000000
mean        4.920325
std         0.182425
min         1.000000
25%         4.900000
50%         5.000000
75%         5.000000
max         5.000000
Name: Avaliacao, dtype: float64

In [28]:
#Substituir NAN por Zero
df['Avaliacao'] = df['Avaliacao'].fillna(0)

In [29]:
#Campos vazios
df.isna().sum()

Tipo_Combustivel              0
Avaliacao                     0
Aluguel_Viagens_realizadas    0
Contagem_revisao              0
Cidade                        0
Pais                          0
Latitude                      0
Longitude                     0
Estado                        0
ID_Proprietario               0
Taxa_diaria                   0
Marca_veiculo                 0
Modelo_veiculo                0
Tipo_veículo                  0
Ano_veiculo                   0
dtype: int64